.mission-image {
  width: 1000px;
  margin: auto;
  padding: 70px 40px;
}

.mission-text {
  h2 {
    text-align: center;
    padding-bottom: 15px;
  }
  h4 {
    text-align: center;
  }
  a {
    text-align: center;
  }
}

.home-page-button {
  text-align: center !important;
}
