.staff-buttons{
  display: flex;
  justify-content: space-evenly;
  }

.submit-icon {
  display: flex;
  justify-content: center;
}
 .fas fa-sign-in-alt {
   display: flex;
   justify-content: right;
 }
